@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@font-face {
  font-family: 'victorian';
  src: url("victorian_parlor_vintage_alternate_free-webfont.woff2") format("woff2"), url("victorian_parlor_vintage_alternate_free-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'modern_serif';
  src: url("modern_serif_eroded-webfont.woff2") format("woff2"), url("modern_serif_eroded-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  padding-top: 1rem; }

body {
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  min-height: 100vh; }

h2 {
  font-size: 1.33rem; }

li {
  list-style-type: none;
  margin-bottom: .75rem;
  line-height: 140%; }

.card {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 0;
  padding: 1rem; }

@media (min-width: 1500px) {
  .container {
    width: 66%;
    max-width: 66%; } }

/* Skin system 1: Mr. Fancypants Linux guy */
.one {
  background-image: url("https://i.imgur.com/As3dgHW.jpg");
  font-family: 'PT Mono', monospace; }
  .one h2 {
    color: #ffcc00; }

/* Skin 2: Edgelord h4xx0r */
.two {
  background-image: url("https://i.imgur.com/WU9NkNm.jpg");
  font-family: 'PT Mono', monospace; }
  .two .container {
    float: left; }
  .two h2 {
    color: #f5d967; }

/* Skin 3: Colors so loud you could file a noise complaint */
.three {
  background-image: url("https://imgur.com/u1OB6Ji.jpg");
  font-family: 'PT Mono', monospace;
  text-shadow: none; }
  .three .card-columns {
    column-count: 2; }
  .three .card {
    background-color: rgba(255, 255, 255, 0.8); }
  .three .container {
    width: 100%;
    max-width: 100%; }
  .three li {
    float: left;
    padding: 0 1rem 0 0;
    border-right: 1px solid #ea04a7;
    margin: 0 1rem 0 0;
    color: #ea04a7; }
  .three li:last-of-type {
    border: none; }
  .three h2 {
    color: #2ddbf3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

/* Skin 4: Forest full of hella trees */
.four {
  background-image: url("https://imgur.com/01mJSy5.jpg");
  font-family: 'PT Mono', monospace;
  color: #000; }
  .four .card-columns .card {
    background-color: transparent;
    width: 80%;
    padding: 0rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
  .four h2 {
    font-size: 1.33rem;
    background-color: rgba(200, 200, 200, 0.5);
    margin-bottom: 0;
    padding: .5rem; }
  .four ul {
    margin-bottom: 0;
    padding-left: 0; }
    .four ul li {
      margin-bottom: 0;
      color: #000;
      padding: .5rem .5rem; }
    .four ul li:nth-child(odd) {
      background-color: rgba(200, 200, 200, 0.5); }
    .four ul li:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.5); }
  .four .container {
    width: 100%;
    max-width: 100%;
    padding-left: 10%; }
  .four h2 {
    color: #000; }

/* Skin 5: Chaotic Neutral Time Traveler*/
.five {
  background-color: #000; }
  .five .container {
    width: 100%;
    max-width: 100%; }
  .five h2 {
    font-family: 'victorian';
    color: #fff;
    font-size: 3rem; }
  .five .card-columns .card {
    background-color: transparent; }
  .five ul li {
    font-family: 'modern_serif';
    color: #fff; }
