@import url('https://fonts.googleapis.com/css?family=PT+Mono');

@font-face {
  font-family: 'special_request_-_demoregular';
  src: url('fonts/special_request-webfont.woff2') format('woff2'),
  url('fonts/special_request-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'the_goldsmith_vintagevintage';
    src: url('fonts/the_goldsmith_vintage-webfont.woff2') format('woff2'),
         url('fonts/the_goldsmith_vintage-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
  padding-top: 1rem;
}

body {
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.33rem;
}

li {
  list-style-type: none;
  margin-bottom: .75rem;
  line-height: 140%;
}

.card {
  background-color: rgba(0, 0, 0, .55);
  border-radius: 0;
  padding: 1rem;
}

@media(min-width:1500px) {
  .container {
    width: 66%;
    max-width: 66%;
  }
}

/* Skin system 1: Mr. Fancypants Linux guy */

.one {
  background-image: url('images/bg-1.jpg');
  font-family: 'PT Mono', monospace;


  h2 {
    color: #ffcc00;
    font-size:1.5rem;
  }
}

/* Skin 2: Edgelord h4xx0r */

.two {
  background-image: url('images/bg-2.jpg');
  font-family: 'PT Mono', monospace;

  .container{
    float:left;
  }

  h2 {
    color: #f5d967;
  }  
} 

/* Skin 3: cosmic teatime */

.three {
  background-image: url('images/bg-3.jpg');
  font-family: 'PT Mono', monospace;
  text-shadow:none;

  h2{
    font-family: 'special_request_-_demoregular';
    font-size:2.5rem; 
  }

}  

/* Skin 4: Forest full of hella trees */
.four{
  background-image: url('images/bg-4.jpg');
  font-family: 'PT Mono', monospace;
  color:#000;

  .card-columns .card {
    background-color: transparent;
    width:80%;
    padding: 0rem;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5)
  }

  h2 {
    font-size: 1.33rem;
    background-color: rgba(200,200,200,0.5);
    margin-bottom:0;
    padding:.5rem;
  }

  ul{
    margin-bottom:0;
    padding-left:0;

    li{
      margin-bottom:0;
      color:#000;
      padding:.5rem .5rem;
    }

    li:nth-child(odd){
      background-color: rgba(200,200,200,0.5);
    }


    li:nth-child(even){
      background-color: rgba(255,255,255,0.5);
    }

  }


  .container {
    width: 100%;
    max-width: 100%;
    padding-left:10%;
  }

  body {

  }

  h2 {
    color: #000;
  } 

}

/* Skin 5: Chill AF Lumberjack*/

.five{
  background-image: url('images/bg-5.jpg');
  font-family: 'PT Mono', monospace;
  color:#fff;
  text-transform:uppercase;

h2{
  font-size:2.5rem;
   font-family: 'the_goldsmith_vintagevintage';
}

.card {
  background-color: rgba(0, 0, 0, .85);
}

} 

/* Skin 6: Beynd Belief Comfy */

.six {

  background-image: url('images/bg-6.jpg');
  font-family: 'PT Mono', monospace;

  .container{
    float:left;
    max-width:33%;
  }

  .card-columns{
    column-count:2;
  }

  .card{
    background-color:transparent;
    border:none;
    margin:0;
    padding:0;
  }

  h2{
    font-size:1rem;
  }

  ul{
    padding:0;
    margin:0;

    li{
      font-size:.75rem;
    }
  }

}